<!DOCTYPE html>
<html>
<head>
  <style type="text/css">body { background: #eeeeee !important; }</style>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="../../../static/css/bootsnipp.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
  <title>FlaskCards</title>
</head>
<body>
  <section id="team" class="pb-5">
    <div class="container h-100">
      <h5 class="section-title h1">FlaskCards</h5>
      <h6 class="section-subtitle h4">{{ langid | capitalize }} | {{ cat | capitalize }}</h6>
      <div class="row justify-content-center">
        <div class="col">
          <div class="card border-dark mb-3" style="max-width: 10rem;">
            <div class="card-body text-dark">
              <h5 class="card-title text-center">{{ qCard | capitalize }}</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-deck h-100">
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[0] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[1] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[2] }}</p>
              </div>
            </div>
          </div><br>
        </div>
      </div><br>
      <div class="row justify-content-center">
	<div class="col"></div>
	<div class="col">
          <div class="card-deck h-100">
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[3] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[4] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[5] }}</p>
              </div>
            </div>
          </div><br>
        </div>
      </div><br>

 <div class="row justify-content-center">
        <div class="col">
        </div>
        <div class="col">
          <div class="card-deck h-100">
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
                <p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[6] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[7] }}</p>
              </div>
            </div>
            <div class="card border-dark mb-3">
              <div class="card-body text-dark">
                <h5 class="card-title text-center"></h5>
		<p class="card-text text-center h5" onclick="checkCard(this.textContent);">{{ rSample[8] }}</p>
              </div>
            </div>
          </div><br>
        </div>
      </div><br>
      </div>
      <div class="row justify-content-center">
        <a href="../../.." class=
        "btn btn-outline-secondary btn-lg">Home</a>
      </div>
    </div>
  </section>
   <script>
function checkCard(v) {

var answer = "{{ aCard }}";

if (v === answer ) {
	alert("Correct!");
	location.reload();
} else {
	alert("Wrong! The correct answer is {{ aCard }}");
	location.reload();
}
}
</script>

</body>
</html>
